.top-10 {
  margin-top:30px;
}
.no-padding {
  padding-left: 5px;
  padding-right: 0px;
}
#page {
  float: right;
}
#header {
  /*background-image: url("images/header.gif");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: black;
  position: fixed;
  width: 100%;
  z-index: 100;
  */
}
hr.catalog {
  margin-top: 2px;
  margin-bottom: 5px;
  color: black;
  border-color: black;
  background-color: black;
}
#pHeader {
  color: red;
}
#footer {
  color: white;
  background-image: url("images/footer.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
#center {

}
#right {
  padding-left: 0px;
}
h4 {
  color: #552300;
}
h2 {
  text-shadow: 2px 2px 4px;
}
body {
  background-color: #E9EBEC;
}
#pHeader {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
}
.padding-item hr {
  margin-top: 2px;
  margin-bottom: 5px;
  color: black;
  border-color: black;
  background-color: black;
}
.item-picture {
  width: 100%;
}
.title-temple {
  font-family: "Georgia", cursive, sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0px;
}
.author-temple {
  padding-right: 5px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
}
.link-item {
  text-decoration: none;
  color: black;
}
.link-item:hover {
  text-decoration: none;
  color: black;
}
.info {
  color: #8C8C8C;
  font-size: 14px;
  text-align: left;
  padding-top: 5px;
  margin-bottom: 0px;
}
.span-item {
  margin-right: 3px;
}
.spans-item {
  font-size: 20px;
  padding-right: 5px;
  padding-left: 5px;
}

.padding-item {
  border: 1px solid #CCC7B3;
  overflow:hidden;
  box-shadow: 2px 2px 1px #D5D5D5;
  border-radius: 10px;
  background-color: #D7D8D7;
}
.glyphicon-refresh-animate {
  font-size: 40px;
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}


.hover-group .image-wrapper {
  /* We need this to make the .hover-toggle div relative to .image-wrapper */
  position: relative;
  background: black;
}

.hover-group .image-wrapper .hover-toggle {
  /* set it at the bottom of .image-wrapper */
  position: absolute;
  bottom: 0;
  /* and don't display it */
  display: none;
}
.hover-group .image-wrapper img {
  -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
     -o-transition: all 0.5s linear;
        transition: all 0.5s linear;
}
.hover-group .image-wrapper:hover img{
  opacity: 0.7;
  filter: alpha(opacity=70); /* For IE8 and earlier */
}

.hover-group .image-wrapper:hover .hover-toggle {
  /* only display it when .image-wrapper is being hovered on */
  display: table;
}


#navadd{
  border-radius: 0px;
  height: auto;
  margin-top: 0%;
  width: 100%;
  position: fixed;
  z-index: 2;

}
#navadd1{
  border-radius: 0px;
  height: auto;
  margin-top: 0%;
  width: 100%;
  position: fixed;
  z-index: 2;
  background-color: black;
}
  #header{

    background-color: black;
    margin: auto;
    width: 100%;
    border-radius: 0px ! important;
  }
#bellow1{
  background-color: black;
    height: 100%;
    margin: 0;
    margin-top: -3px;
    z-index: 2;
  }

  #bellow2{
    padding-left: 8%;
    height: auto;
    margin: 0;
  }
#headerIcon{
  padding-left: 9%;
}
 #tribeo{
  border-radius: 5px;
  margin-top: 1%;
}

#search{
  width: 30%;
  display: inline-table;
  margin-top: 0.5%;
}
#search1{
  width: 70%;
  display: inline-table;
  margin-top: 0.5%;
}
.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
  border-right:0;
  box-shadow:0 0 0;
  border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.nonedis{
  margin:0%;
  padding: 0%;
}

/* For mobile phones: */
.center-items{
  padding-left: 0px;
  padding-right: 0px;
}
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .center-items{
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .center-items{
    padding-left: 150px;
    padding-right: 150px;
  }
}

.clear{
  clear: both;
}

.container {
  padding-top: 120px;
}